<div class="alert alert-info alert-dismissible filter-query role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
  Filter query: <%= query %>
</div>