<% item = inventory_item %>


<a href="<%= url_for :action => :show, :id => item.object %>" class="list-group-item">
  <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true" style="margin-top: 1em"></span>
  <span class="pull-right" style="margin-top: 1em; margin-right: 1em"><%= item.quantity %> pcs</span>
  <%= item.productName %><br/>
  <small><%= item.upc %></small>
  <br/>
</a>


