<%= render partial: 'partials/page_header',
           locals: {
               :title => 'Inventory Items',
               :main_menu => [
                   {:action => url_for(:controller => :Settings, :action => :do_sync), :title => 'Sync'},
                   {:action => url_for(:controller => :Settings, :action => :index), :title => 'Settings'},
                   {:action => url_for(:controller => :Settings, :action => :logout), :title => 'Log Out'},
                   {:action => url_for(:controller => :Settings, :action => :do_quit), :title => 'Quit'}
               ],
               :context_menu => [
                   {:action => 'Sync', :title => 'Search'}
               ]} %>

<div class="page container-fluid">

  <% if scanner_camera? %>
      <div class="btn-scan-wrapper">
        <button class="btn btn-primary btn-lg btn-block" data-action="scan">Press to scan</button>
      </div>
  <% end %>

  <div class="input-group">
    <input id="search" type="search" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
    <button id="clear" class="btn btn-default" type="button">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </span>
  </div>

  <div id="item-list">
    <% if @inventoryItems.size != 0 %>
        <div class="list-group">
          <%= render partial: 'inventory_item', collection: @inventoryItems %>
        </div>
    <% else %>
        <div class="alert alert-warning" role="alert"><h4>Items not found</h4></div>
    <% end %>
  </div>

</div>

<script>
    (function () {
        var timeoutId;
        var timeout = 500;

        var serverRequest = function (query) {
            $.ajax({
                type: "post",
                dataType: "html",
                url: "<%= url_for :action => :do_search %>",
                cache: false,
                data: {query: query}
            })
                .done(function (html) {
                    $("#item-list").html(html);
                });
        };

        $("#search").bind("input", function (anEvent) {
            if (timeoutId != null) {
                clearTimeout(timeoutId);
            }
            timeoutId = setTimeout(function () {
                serverRequest($(anEvent.target).val());
            }, timeout);
        });

        $("#clear").on("click", function () {
            $("#search").val("");
            serverRequest("");
        });
    })();
</script>

<script>
    var spinner;

    $(".page").on("spinnerOn", function (event) {
        spinner = new Spinner().spin();
        $(".page").append(spinner.el);
    });

    $(".page").on("spinnerOff", function (event) {
        spinner.stop();
    });

    $("[data-action=scan]").on("click", function (event) {
        $(".alert").addClass("hidden");
        $.post("<%= url_for(:action => :scan_by_camera) %>", function (data) {
            console.log("success", data);
        });
    });

    $(".context-menu-btn").on("click", function () {
        $("#main-menu").collapse("hide")
    });
    $(".main-menu-btn").on("click", function () {
        $("#context-menu").collapse("hide")
    });


</script>
