[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YuriSorochkin
[access "refs/for/refs/*"]
	read = group user/YuriSorochkin
	push = group user/YuriSorochkin
	label-Code-Review = -2..+2 group user/YuriSorochkin
	label-Verified = -1..+1 group user/YuriSorochkin
	rebase = group user/YuriSorochkin
	removeReviewer = group user/YuriSorochkin
	submit = group user/YuriSorochkin
[access "refs/heads/*"]
	read = group user/YuriSorochkin
	create = group user/YuriSorochkin
	push = +force group user/YuriSorochkin
	pushMerge = group user/YuriSorochkin
[access "refs/tags/*"]
	push = group user/YuriSorochkin
	push = +force group user/YuriSorochkin
