<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>InventoryDemo</title>
  <meta name="viewport" content="width=device-width/2, initial-scale=2.0, maximum-scale=2.0, user-scalable=0"/>

  <link rel="stylesheet" href="/public/libs/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/libs/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/libs/toastr/toastr.min.css">
  <link rel="stylesheet" href="/public/css/style.css">

  <script type="text/javascript" src="/public/libs/jquery/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/public/js/jquery-extensions.js"></script>

  <script type="text/javascript" src="/public/libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/public/libs/spinner/spinner.js"></script>
  <script type="text/javascript" src="/public/libs/toastr/toastr.min.js"></script>

  <script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
</head>

<body>
<%= @content %>


<script>
    $("body").on("onSyncSourceInProgress", function (event, sourceName) {
        $("#sync-status .source-name").text(sourceName);

    });

    $("body").on("onSyncSourceCompleted", function (event, sourceName) {
        $("#sync-status .source-name").text("");
    });


    $("body").on("onSyncStarted", function (event) {
        $("#sync-status .source-name").text("");
        $("#sync-status .state").text("Syncing");
        $("#sync-status .spinner").removeClass("hidden");
        $("#sync-status .check").addClass("hidden");
        $("#sync-status .warning").addClass("hidden");
    });

    $("body").on("onSyncCompleted", function (event, createdAt) {
        $("#sync-status .source-name").text("");
        $("#sync-status .state").text("Last Sync: " + createdAt);
        $("#sync-status .spinner").addClass("hidden");
        $("#sync-status .check").removeClass("hidden");
        $("#sync-status .warning").addClass("hidden");
    });

    $("body").on("onSyncError", function (event) {
        $("#sync-status .state").text("Sync error");
        $("#sync-status .spinner").addClass("hidden");
        $("#sync-status .check").addClass("hidden");
        $("#sync-status .warning").removeClass("hidden");
    });

    $("body").on("onSyncHasNotHappenedYet", function (event) {
        $("#sync-status .source-name").text("");
        $("#sync-status .state").text("Sync is not happened yet");
        $("#sync-status .spinner").addClass("hidden");
        $("#sync-status .check").addClass("hidden");
        $("#sync-status .warning").removeClass("hidden");
    });

    $(function (event) {
        $.post("<%= url_for(:controller => :SyncEvent, :action => :last_sync_event) %>");
    });

</script>

</body>

</html>
