<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>InventoryDemo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <link rel="stylesheet" href="/public/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/toastr/toastr.min.css">

  <script src="/public/jquery/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script src="/public/bootstrap-3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/public/toastr/toastr.min.js" type="text/javascript"></script>
  <script src="/public/api/rhoapi-modules.js" type="text/javascript"></script>
</head>

<body>
<div class="container-fluid" style="padding-top: 5px">
     <div class="bg-default">
      <img src="/public/images/logo.png" width="32px" height="32px">&nbsp;&nbsp;&nbsp;Inventory Demo by
      <a href="#"><strong>Tau-Technologies</strong></a>
    </div>
  <hr>
  <%= @content %>
</div>
</body>

</html>
