<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Back', :classes => 'btn-default btn-back', :action => url_for(:controller => :InventoryItem, :action => :index)}
               }
           }
%>

<div class="page">

  <div class="page-title container-fluid">
    <h3>Sync History</h3>
  </div>

  <div class="page-content">

    <div id="item-list">
      <% if @sync_events.size != 0 %>
          <div class="list-group">
            <%= render partial: 'sync_event', collection: @sync_events %>
          </div>
      <% else %>
          <div class="alert alert-warning" role="alert"><h4>Sync events not found</h4></div>
      <% end %>
    </div>

  </div>
</div>