<div id="header">
  <a href="<%= url_for :action => :do_back %>" class="pull-left"><img src="/public/images/ic_arrow_back_black_24dp_2x.png"></a>
  <span class="title pull-left">About</span>
</div>

<h4 class="text-center">About Tau-Technologies</h4>

<p>Tau-Technologies specializes in developing hybrid mobile applications of enteprise level. Our solutions support
  mobile data terminals from various manufactures and features like barcode scanner reading, NFC, mobile printing, etc.
</p>

<p class="text-center"><a  onClick="open_tau_website();" style="cursor: pointer; cursor: hand;">www.tau-technologies.com</a></p>

<script>
    function open_tau_website() {
        $.get("/app/Settings/open_tau_website");
    }
</script>
