<div id="header">
  <span id="button-menu" class="glyphicon glyphicon-menu-hamburger"></span>
  <a href="<%= url_for :action => :do_back %>"><span id="button-back" class="glyphicon glyphicon-menu-left"></span></a>
  <span class="title">About</span>
</div>

<h4 class="text-center">About</h4>

