<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Back', :classes => 'btn-default btn-back', :action => url_for(:controller => :InventoryItem, :action => :index)}
               }
           }
%>
<div class="page">

  <div class="page-title container-fluid">
    <h3>Settings</h3>
  </div>

  <div class="page-content">
    <% if @msg %>
      <div class="alert alert-danger"><%= @msg %></div>
    <% end %>

    <div class="list-group">
      <a href="<%= url_for :action => :reset %>" class="list-group-item">
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
        Reset Database
      </a>
    </div>
  </div>

</div>