<%= render partial: 'partials/page_header',
           locals: {
               :buttons => {
                   :left => {:title => 'Cancel', :classes => 'btn-default btn-cancel', :action => url_for(:action => :index)}
               }
           }
%>
<div class="page">

  <h3>Database Resetting</h3>

  <div class="text-center alert alert-danger">
    <h4 class="text-center">Are you sure?</h4>
    <p>Resetting removes all objects from your device.</p>
    <a href="<%= url_for :action => :do_reset %>" class="btn btn-danger btn-block">Yes, reset the database</a>
  </div>

</div>


