<div id="header">
  <a href="<%= url_for :controller => :InventoryItem, :action => :index  %>" class="pull-left"><img src="/public/images/ic_arrow_back_black_24dp_2x.png"></a>
  <span class="title pull-left">Logging in</span>
</div>

<h4 class="text-center">Please, wait</h4>

<script>
    $(document).ready(function () {
        $.get("/app/Settings/execute_login");
    })
</script>
