<div class="page">

  <h1>Inventory-Demo</h1>
  <h4>Setting up Application</h4>

  <p class="setup-hint">
    Before you can begin work with the application, you must configure it.
  </p>
  <a href="<%= url_for(:action => :wizard_scanner_selection) %>" class="btn btn-success btn-block">Continue</a>

</div>

