<form method="POST" action="<%= url_for :action => :do_manual_login %>">
  <div class="form-group">
    <label for="user">User</label>
    <input type="text" id="user" name="user" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control"/>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Log In</button>
  </div>
</form>



<script>
    $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();

            var user = event.currentTarget.user.value;
            var password = event.currentTarget.password.value;
            $(".alert").addClass("hidden");
            $(event.target).addClass("disabled");

            $(".page").trigger("spinnerOn");

            $.post("<%= url_for(:action => :do_manual_login) %>", {user: user, password: password}, function () {
                $("body").one("onRhoConnectLoggedIn", function (event, createdAt) {
                    clearTimeout(timeout);
                    window.location.href = '/app/InventoryItem'
                });

                var timeout = setTimeout(function () {
                    $("body").off('onRhoConnectLoggedIn');
                    alert('Cannot log in. Try again.')
                }, 5000);
            });


        });
    });
</script>
