<%= render partial: 'partials/page_header', locals: {:title => 'Inventory Demo', :nosyncbar => true} %>

<div class="page">
  <div class="container" style="margin-left:10%; margin-right:10%">
    <h3>Login</h3>

    <div class="alert alert-warning hidden" role="alert"></div>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="login" name="login" placeholder="login">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </form>
  </div>
</div>


<script>
    $(document).ready(function () {
        var spinner;
        var target = $(".page")[0];

        $(".page").on("spinnerOn", function (event) {
            spinner = new Spinner().spin();
            target.appendChild(spinner.el);
        });

        $(".page").on("spinnerOff", function (event) {
            spinner.stop();
            $(event.target).removeClass("disabled");
        });

        $("form").on("submit", function (event) {
            event.preventDefault();
            $(".alert").addClass("hidden");
            $(event.target).addClass("disabled");
            var login = event.currentTarget.login.value;
            var password = event.currentTarget.password.value;
            console.log("login", login);
            console.log("password", password);
            $.post("<%= url_for(:action => :do_login) %>", {login: login, password: password});
        });

        $(".page").on("loginFeedback", function (event, message) {
            $(".alert").removeClass("hidden").text(message);
        });
    });
</script>



