<%= render partial: 'partials/page_header', locals: {:title => 'Inventory Demo', :nosyncbar => true} %>

<div class="page">
  <div class="text-center">
    <h3>Scan your ID card</h3>

    <div class="alert alert-warning hidden" role="alert"></div>

    <div class="barcode-scan-image">
      <img src="/public/images/barcode-scan.png">
    </div>

    <div class="btn-space-wrapper">
      <% if scanner_camera? %>
          <button class="btn btn-primary btn-lg btn-block" data-action="scan">Press For Scan</button>
      <% end %>
    </div>

  </div>
</div>

<script>
    $(document).ready(function () {
        var spinner;
        var target = $(".barcode-scan-image")[0];

        $(".page").on("spinnerOn", function (event) {
            spinner = new Spinner().spin();
            target.appendChild(spinner.el);
        });

        $(".page").on("spinnerOff", function (event) {
            spinner.stop();
            $(event.target).removeClass("disabled");
        });

        $("[data-action=scan]").on("click", function (event) {
            $(".alert").addClass("hidden");
            $(event.target).addClass("disabled");
            $.post("<%= url_for(:action => :scan_by_camera) %>");
        });

        $(".page").on("loginFeedback", function (event, message) {
            $(".alert").removeClass("hidden").text(message);
        });
    });
</script>



